*.ico
*.log
*.png
.DS_Store
.angulardoc.json
.browserslistrc
.editorconfig
.env
.env.example
.eslintignore
.eslintrc
.eslintrc.js
.eslintrc.json
.gitattributes
.gitignore
.idea/
.prettierignore
.prettierrc.json
.stylelintignore
.vscode/
.vsid/
angular.json
coverage/
dist-bosf/
dist/
node_modules/
src/assets/
src/lib/
updates.txt
*.sh
.angular
.dockerignore
.npmrc
