.homeBanner {
    width: 100%;
    background-image: url('../public/images/banner.jpg');
    height: 0;
    padding-bottom: 25%;
    background-size: cover;
    background-position: center;
}

.sidebar {
    flex: 1;
    padding: 20px;
}

.homePage {
    display: flex;
    flex-direction: column;
}

.contentWrapper {
    display: flex;
    margin-top: 20px;
}

.sidebar {
    flex: 1;
    padding: 20px;
    border-left: 1px solid #ddd;
}

.sidebar img {
    max-width: 100%;
    height: auto;
    display: block;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.mainContent {
    flex: 3;
    padding: 20px;
}

@media (max-width: 768px) {
    .contentWrapper {
        flex-direction: column;
    }

    .sidebar {
        border-left: none;
        border-top: 1px solid #ddd;
    }
}
