.inputGroup {
    width: 100%;
    max-width: 500px;
}

.inputGroupText {
    background-color: #f8f9fa;
    color: #000;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-left: none;

    &:focus {
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }
}

.formControl {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-right: none;

    &:focus {
        box-shadow: none;
        border: 1px solid rgba(0, 0, 0, 0.4);
    }
}

.cardItemContainer {
    border-radius: 0.5rem;
    overflow: hidden;
    border: 1px solid rgba(0, 0, 0, 0.2);

    & img {
        object-fit: contain;
        aspect-ratio: 1/1;
    }
}

.cardItemTitle {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    height: 64px;
}

.titleText {
    font-size: 1rem;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    text-align: start;
}

.textAvailability {
    font-size: 0.8rem;
    color: #21b47e;
}
