.header {
  font-size: 24px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.about-list-item {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 10px;
  background-color: rgb(248, 249, 250);
  padding: 0.5rem;
  margin-block-end: 1rem;
}
